*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  font-size: 12px;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
  }

  #titulo{
    text-align: center;
    color: #4a058a;
    margin-bottom: 6%;
  }

  body{
    background-color: #f0f8ff;
    font-size: Arial, sans-serif;
    color: #59429d;
    justify-content: center;
    width: 100%;
    margin:auto;
    text-align: center;

  }
  
  input[type="text"],
  input[type="number"],
  button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
  
  button {
    background-color: #59429d;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 0.2em 0.6 em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  
  button:hover {
    background-color: #ccbbff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    width: 100%;
    margin:0,auto;
    font-size: 18px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  #btn-editar {
    background-color: #fdd835;
    color: #000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  
  #btn-editar:hover {
    background-color: #fbc02d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
  }

  /* feito pelo Pedro */

  .margem-interna{
    overflow: auto;
  }

  .centro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tabela, th, td {
  font-size: 12px;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  width: 100%;
}

.centro {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.label-input {
  font-size: 20px;
  margin-left: 20px;
}

.background-preto {
  background-color: #6213e0;
  color: #000000;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
   
}


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.btn-icone {
margin-right: 10px;
background-color: #59429D;
padding: 5px;
border: solid 1px #ffffff;
border-radius: 50%;
cursor: pointer;
}